//
//  Secrets.xcconfig
//  ATSOPT36_Assignment
//
//  Created by 권석기 on 5/7/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
API_KEY = 32fd0815e7e259f09f76d38d02b9b9cc
URL = http:/$()/www.kobis.or.kr/kobisopenapi/webservice/rest
